<style>

    .submission-text-field {
        margin-top: 10px;
    }


</style>

<div class='submission-text-field'>
    <label>{{widget.description}}</label>
    <ul>
        <li>{{parameters.item.title}}</li>
        <li>{{parameters.item.category}}</li>
    </ul>
</div>

{{yield}}
