

<div class="nav-item-group breadcrumbs">
    {{#each path.parts as |part|}}
        {{#link-to part.route class="nav-item"}}
            {{part.label}}
        {{/link-to}}
    {{/each}}
</div>


<div class="nav-item-group" id="myNavbar">
    {{#each navLinks.links as |link|}}
        {{#link-to link.route}}{{link.label}}{{/link-to}}
    {{/each}}
</div>

