<h2 class="p-b-lg">
    {{layout.title}}
</h2>

{{#each data as |categorySponsors|}}
    {{#if categorySponsors.category}}
        <h3>{{categorySponsors.category}}</h3>
        <hr>
    {{/if}}
    <div class="category">
        {{#each categorySponsors.sponsors as |sponsor|}}
            <a href="{{sponsor.website-url}}">
                <img class="sponsors-logo m-b-md" src="{{sponsor.img-url}}"/>
            </a>
        {{/each}}
    </div>
{{/each}}
