{{#if collection.settings.layers}}

    {{#each collection.settings.layers as |view index|}}

        {{component view.component
                    model=collection
                    layout=view.settings
                    branding=collection.settings.branding
                    changeRoute=(action 'changeRoute')
                    editMode=editMode
                    index=index}}
    {{/each}}

{{else}}

    <div id="collection-default-hero" class="hero">
        <h1>{{collection.title}}</h1>
        <p class="p-v-md">{{collection.description}}</p>
    </div>

    {{#if session.isAuthenticated}}
        <section>
            {{#link-to "collections.collection.edit" collection class="button pull-right"}}
                Edit
            {{/link-to}}
            <h2> Customize your landing page</h2>
            <p> You can add details to your landing page by changing settings to add layout layers. Visit Edit page to make changes. </p>
        </section>
    {{/if}}

{{/if}}
