<div class="hero" id="my-collection-hero">
    <h1>My Collection</h1>
</div>

<!--<div class="notices">
    <div class="section">
        <p>Content you generate is stored in a collection. Every OSF user has a collection named 'My Collection'. This collection may contain any type of item, and the form used to create the items that exist in 'My Collection' can be customized to suit your needs.</p>
        <p>Each item in your 'My Collection' may additionally be marked as 'Private' or 'Public'. All users will be able to see public items that are in your collection, but only you will be able to see items that are private, unless you choose to explicitly share that item.</p>
        <p>By pressing the 'I Understand' button below, you are confirming that you have read these instructions and that you understand how permissions for items in your collection work.</p>
        <button class="button">I Understand</button>
    </div>
    <div class="section">
        <p>The OSF allow you to create collections and items that exist in that collection. Each user's 'My Collection' is public. It will be seen by other users as &lt;your username&gt;'s Collection.</p>
        <p>You can create collections in addition to "My Collection". All of thes collections are public, but the items in each may be marked as public or private.</p>
    </div>
</div>-->

<section class="toolbar">
    {{#link-to "create" class="button"}}
        Create A Collection
    {{/link-to}}
    {{#link-to "collections.my-collection" class="button"}}
        Add an Item to My Collection
    {{/link-to}}
</section>

{{#each collections as |collection|}}
    <section class="collection-list">
            {{#link-to "collections.collection" collection class="button-action pull-right"}}
                View this collection
            {{/link-to}}
            {{#link-to "collections.collection.edit" collection class="button-action pull-right"}}
                Edit this collection
            {{/link-to}}
            <h2>{{collection.title}}</h2>
            <p>{{collection.description}}</p>
    </section>
{{/each}}
